body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rc-tree-title {
  max-width: 300px;     /* عرض ثابت مناسب للعمود */
  white-space: nowrap;   /* منع نزول السطر */
  overflow: hidden;      /* اللي يخرج برا يتخبي */
  text-overflow: ellipsis; /* يعمل ... */
  display: inline-block;
  vertical-align: middle;
}

